:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 35px);
  grid-template-columns: repeat(var(--grid-cols), 35px);
}

.grid-item {
  padding: 1em;
  border: 1px solid #ddd;
  text-align: center;
}